/* Main Card */
.boxmodel{
    width: 270px;
    background-color: rgb(65, 66, 66);
    border-radius: 16px;
    padding: 16px;
}

/* Image */
.boxmodel img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
}

/* Text */
.boxmodel h2{
    font-size: 20px;
    color: white;
    text-align: center;
}

.boxmodel p{
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

/* Button */
.btn{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    background: #00bcd4;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Grid Layout */
#Doctors{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
}
