.div{
    display:flex;
    padding: 10px;
    justify-content: space-between;
    color: bisque;
}

.logo{
    width: 20px;
    height: 10px;
    text-decoration: none;
}
header{
    background-color: black;
}
nav{
    background-color: black;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding:20px;
    gap: 20px;
    align-items: center;
    list-style: none;
}
nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: bolder;
    font-family: sans-serif;
    padding: 5px 10px;
}



.boxmodel{
    width: 270px;
    background-color: rgb(13, 14, 14);
    border-radius: 16px;
    padding: 16px;
}


.boxmodel img{
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
}


.boxmodel h2{
    font-size: 20px;
    color: white;
    text-align: center;
}

.boxmodel p{
    font-size: 14px;
    color: white;
    line-height: 1.4;
}


.btn{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
    background: #00bcd4;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}


#Doctors{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: 50px auto;
}
