div{
    display:flex;
    padding: 10px;
    justify-content: space-between;
    color: bisque;
}

.logo{
    width: 20px;
    height: px
}
header{
    background-color: black;
}
nav{
    background-color: black;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding:11px;
    gap: 20px;
    align-items: center;
    list-style: none;
}
nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: bolder;
    font-family: sans-serif;
    padding: 5px 10px;
}

.hero{
    background-image: url('https://img.freepik.com/premium-photo/medical-background-empty-space_198067-685618.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    z-index: 1;
    position: relative;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
    
}

.hero p{
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-btn button{
    margin: 5px;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(58, 57, 57);
}